body{
    background-color: #5d7b6f;
    font-family: 'Roboto', sans-serif;
}
aside{
    position: fixed;
    width: 27%;
    height: 645px;
    margin-top: 100px;
    padding: 20px; 
    text-align: center;
    border: 2px solid #eae7d6; 
    border-radius: 10px;
    background-color: #b0d4b8;
    float: left;
}
aside.image-cont{
    width: 200px;
    height: 130px;
    background-color: black;
}
aside .anh{
    width: 80px;
    height: auto;
    border-radius: 20px;
    margin-top: 10px;
}
aside .major{
    background-color: darkgray;
    width: 150px;
    border-radius: 10px;
}
aside .Email>p{
    margin: 0;
}
aside .Email>img{
    max-width: 30px;
    height: auto;
    margin-top: 8%;
}
aside .Phone>img{
    margin-top: 30px;
    max-width: 20px;
    height: auto;
}
aside .Phone>p{
    margin: 0;
}
aside .Git>img{
    max-width: 20px;
    margin-top: 30px;
}
aside .Git>.linkgit>a{
    font-size: 15px;
}
aside .Git>p{
    margin: 0;
}
aside .Location>img{
    max-width: 20px;
    margin-top: 30px;
}
aside .Location>p{
    margin: 0;
}
article{
    width: 56%;
    min-height: 500px;
    margin-top: 100px;
    margin-right: 15px;
    padding: 20px;
    border: 2px solid #eae7d6;
    border-radius: 10px;
    background-color: #b0d4b8;
    float: right;
}
article .menu>ul>li{
    display: inline-block;
    position: relative;
}
article .menu>ul>li>a{
    display: block;
}
article .menu>ul{
    width: 70%;
    float: right;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: yellowgreen;
    text-align: center;
}
article .header>hr{
    float: left;
    width: 100px;
}